<section class="content-container col-xs-8">
    <div class="row">
        <article class="col-xs-4">
            <img src="~/Images/Vlisco.PNG" alt="a lady in a lovely colourful dress." class="img img-responsive col-xs-12"/>
            <h2>Vlisco</h2>
            <p>E-Commerce with a colourful store</p>
        </article>
        <article class="col-xs-4">
            <img src="~/Images/Copenhangen.PNG" alt="A lady going to the plane with her luggage." class="img img-responsive col-xs-12"/>
            <h2>Copenhagen Airports</h2>
            <p>Knowing Your Customer in the Digital Age</p>
        </article>
        <article class="col-xs-4">
            <img src="~/Images/TV4Play.PNG" alt="A video displayed on a tablet, TV, and phone. Ubiquitous computing." class="img img-responsive col-xs-12" />
            <h2>TV4 Play</h2>
            <p>From TV channel to leading content provider</p>
        </article>
    </div>
    <div class="row">
        <article class="col-xs-4">
            <img src="~/Images/AudiCity.PNG" alt="A hand resting upon polished machinery." class="img img-responsive col-xs-12"/>
            <h2>Audi City</h2>
            <p>How to purchase a real car in a virtual store</p>
        </article>
        <article class="col-xs-4">
            <img src="~/Images/ArlaFoods.PNG" alt="Cows browsing in green verdent fields." class="img img-responsive col-xs-12"/>
            <h2>Arla Foods</h2>
            <p>Dairy production in Big Data</p>
        </article>
        <article class="col-xs-4">
            <img src="~/Images/Xylem.PNG" alt="A river flowing over an assortment of pebbles and stones." class="img img-responsive col-xs-12"/>
            <h2>Xylem</h2>
            <p>Helping the world's largest water technology provider solve the global water crisis through Business Transformation.</p>
        </article>
    </div>
</section>
<section class="sidebar-container col-xs-4">

</section>




@section scripts {    
<script src="~/test.js"></script>
}

@section headLinks {
    <link type="text/css" rel="stylesheet" href="~/test.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Serif:300,500">
    <link href="~/Content/Home/index.css" rel="stylesheet" />
}
