@{
    ViewBag.Title = "Home Page";
}


<section class="content-container col-xs-8">

</section>
<section class="sidebar-container col-xs-4">

</section>

<h1>Home</h1>


@section scripts {    
    <script src="test.js"></script>
}

@section headLinks {
    <link type="text/css" rel="stylesheet" href="test.css" />
}
